html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
  }


//define container layout
.container {
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
//   grid-template-rows:
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}
