// Import partials here
@import 'base.normalize';
@import 'settings.variables';
//@import 'settings.responsive';
@import 'components.content';


// Define breakpoints
$breakpoints: (
sm: 10px,
md: 602px,
lg: 1200px
);

// Create mixin
@mixin respond-to($breakpoint) {
@media (min-width: #{map-get($breakpoints, $breakpoint)}) {
  @content;
}
}


  .left {

      @include respond-to(sm) {
      position: relative;
      padding: 5% 0% 5% 0%;
      color: $darkergray;
      background-color: white;
      width: 80%;
      .photo {
        width: 100%;
        border-radius: 50%;
            }
      .name{
        font: bold 2.3em $fonts;
           }
      .jobtitle{
        font: italic lighter 1.5em $fonts;
               }
    }

    @include respond-to(md) {
      background-color: blue;
      width: 25%;
      align-content: center;
      padding: 5% 0% 5% 0%;
      color: $darkergray;
      background-color: white;
      .photo {
        width: 100%;
        border-radius: 50%;
            }
      .name{
        font: bold 2.3em $fonts;
           }
      .jobtitle{
        font: italic lighter 1.9em $fonts;
               }
    }


    @include respond-to(lg) {
      background-color: red;
      width: 25%;
      align-content: center;
      padding: 5% 0% 5% 0%;
      color: $darkergray;
      background-color: white;
      .photo {
        width: 100%;
        border-radius: 50%;
            }
      .name{
        font: bold 2.3em $fonts;
           }
      .jobtitle{
        font: italic lighter 1.9em $fonts;
               }
    }
}


  .right {
      @include respond-to(sm) {
        width: 90%;
    margin: 2.5%;
    padding: 2.5% 0% 5% 5%;
    color: $darkergray;
    background: $gray;
    font-size: 1.3em;
      .linkedin {
        display: inline-block;
        vertical-align: middle;
        }
  }

  @include respond-to(md) {
    width: 60%;
margin: 2.5%;
padding: 2.5% 0% 5% 5%;
color: $darkergray;
background: $gray;
font-size: 1.3em;
  .linkedin {
    display: inline-block;
    vertical-align: middle;
    }
}


@include respond-to(lg) {
  width: 60%;
margin: 2.5%;
padding: 2.5% 0% 5% 5%;
color: $darkergray;
background: $gray;
font-size: 1.3em;
.linkedin {
  display: inline-block;
  vertical-align: middle;
  }
}

}
