// Colors
$gray: #f6f5f6;
$darkgray: darken( $gray, 10% );
$darkergray: darken( $gray, 50%);
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;
$fonts: Arial, Helvetica, sans-serif;

// Define mixin breakpoints
$breakpoints: (
sm: 00px,
md: 602px,
lg: 1200px
);
 
